*{
    font-family: Arial, Helvetica, sans-serif;
    padding: none;
    margin: none;
    block-size: box-size;
}





body{
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    grid-template-rows: 200px 1fr;
   grid-template-areas: 
    "hd hd hd"
    "menu article pub";
}





header{
    background-image: url(/Basic_Template/Images/basic-template-banner\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    grid-area: hd;
    width: 100%;
    text-align: center;
}





main{
    display: grid;
    background-color: #e0e0e0;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;
    grid-template-areas: 
    "bienvenue"
    "articles";
    grid-area: article;
}

main > h2{
    background-color: #cccccc;
    margin: 0;
}

#bienvenue1{
    display: flex;
    grid-area: bienvenue;
    align-items: center;
}

#listeArticles{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}

#listeArticles > li{
    font-size: larger;
    height: 120px;
    width: 600px;
    color: white;
    background-color: #969292;
}





#menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;
    grid-template-areas: 
    "menu1"
    "navigation";
    grid-area: menu;
    background-color: #cccccc;
}

#menu1{
    display: flex;
    background-color: #969292;
    grid-area: menu1;
    padding-left: 20px;
    margin: 0;
    align-items: center;
}

#listeMenu{
    list-style: none;
    grid-area: navigation;
    padding: 0px;
}

#listeMenu li{
    font-size: larger;
    margin-top: 10px;
    background-color: #969292;
}

a{
    text-decoration: none;
}





#pub{
    grid-area: pub;
    display: grid;
    background-color: #cccccc;
}

#publi{
    font-size: larger;
    color: #085E8F;
    text-align: center;
}

#livre{
    width: 240px;
}

#achat{
    font-size: larger;
    text-align: center;
    color: white;
    background-color: #085E8F;
}