/*

#rechercher{
    color: white;
    width: 10%;
}

#filtrer{
    color: white;
    width: 20%;
}

#nutriscore{
    color: white;
}

#categorie{
    color: white;
}

table{
}

#titres{
    color: yellowgreen;
    background-color: #444;
}

h1{
    color: yellowgreen;
    font: bold;
}

body{
    background-color: black;
}

*/