body{
    margin : 0px;
    padding : 0px;
    font-family : arial;
}

header{
    text-align: center;
    background-color: #CCDDFF;
}

main{
    display: flex;
}

#section_1{
    width: 20%;
    background-color: #FFDDCC;
}

#section_2{
    width: 100%;
    background-color: aquamarine;
}

#section_3{
    width: 20%;
    background-color: #FFDDCC;
}

footer{
    text-align: center;
    background-color: #CCDDFF;
}