body{
    background-image: url("../TP_Vignoble/images/bg_motif.gif");
    background-repeat: repeat;
    font-family: 'Satisfy';
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    background-image: url("../TP_Vignoble/images/header.png");
    background-repeat: repeat;
    border-bottom: 2px solid #fff;
    z-index: 1000;
    font-family: "channel-regular";
}

header nav>ul{
    float: right;
    padding-top: 25px;
    padding-right: 60px;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
}