body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px;
    border: solid;
    border-color: blue;
}

.cadre{
    border-color: blue;
}

span{
    color: blue;
    font-weight: bold;
}